<h3>{% if edit == true %}Editing existing{% else %}New{% endif %} Post</h3>

{#{ ladybug_dump( post.vars.value.id ) }#}

<form method="POST" {{ form_enctype( post ) }} action="">
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">
                {{ form_label( post.title ) }}
            </div>
            <div class="controls">
                {{ form_widget( post.title ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( post.content ) }}
            </div>
            <div class="controls">
                {{ form_widget( post.content ) }}
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">
                {{ form_label( post.published ) }}
            </div>
            <div class="controls">
                {{ form_widget( post.published ) }}
            </div>
        </div>
        <div>{{ form_errors( post ) }}</div>
        <div>{{ form_rest( post ) }}</div>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>
