{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body -%}

  <h2>Liste des articles</h2>

  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ path( 'sdzblog_post_view', { 'post_id': post.id } ) }}">{{ post.title }}</a>
        par {{ post.author }},
        le {{ post.createdAt | date( 'd/m/Y' ) }}
      </li>
    {% else %}
      <li>Pas (encore !) d'articles</li>
    {% endfor %}
  </ul>
{% endblock %}

