{% extends "SdzBlogBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un article - {{ parent() }}
{% endblock %}

{% block body -%}

    <h2>
    {% if post.image is not null %}
      <img src="{{ post.image.url }}" alt="{{ post.image.alt }}" />
    {% endif %}
    {{ post.title }}
    </h2>
    <i>Par {{ post.author }}, le {{ post.createdAt | date( 'd/m/Y' ) }}</i>

    {% if post.categories.count > 0 %}
        - Catégories :
        {% for category in post.categories %}
           {{ category.name }}
        {% if not loop.last %} - {% endif %}
        {% endfor %}
    {% endif %}

    <div class="well">
        {{ post.content }}
    </div>

    <p>
        <a href="{{ path( 'sdzblog_index' ) }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path( 'sdzblog_post_edit', { 'post_id': post.id } ) }}" class="btn">
            <i class="icon-edit"></i>
            Edit post
        </a>
        <a href="{{ path('sdzblog__post_delete', { 'post_id': post.id } ) }}" class="btn">
            <i class="icon-trash"></i>
            Delete post
        </a>
    </p>
{% endblock %}

